/*----------------------------------------
    GENERAL
----------------------------------------*/

body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    color: #444;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .lead {
    font-weight: 300;
}
.spacer-25px {
    background: none !important;
    height: 25px;
}

/*----------------------------------------
    HEADER
----------------------------------------*/
header {
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}
/*----------------------------------------
    HERO
----------------------------------------*/
#title h1 {
    font-size: 150px;
    margin-top: 70px;
}

@keyframes blinking {
  0% {
    color: #161b22;
  }
  40% {
    color: #fff;
  }
  60% {
    color: #fff;
  }
  70% {
    color: #161b22;
  }
  100% {
    color: #161b22;
  }
}
@-webkit-keyframes blinking {
  0% {
    color: #161b22;
  }
  40% {
    color: #fff;
  }
  60% {
    color: #fff;
  }
  70% {
    color: #161b22;
  }
  100% {
    color: #161b22;
  }
}
.code-editor {
  position: relative;
  border-radius: 10px 10px 0 0;
  background-color: #ccc;
  padding: 10px 20px;
  height: 190px;
  overflow: hidden;
  *width: expression(Math.floor(0.44 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}
.code-screen {
  border-radius: 3px 3px 0 0;
  background-color: #161b22;
  margin-top: 30px;
  padding: 5px 10px;
  height: 150px;
  font-weight: 300;
}
.code-screen pre {
  padding: 0;
  font-size: 13px;
  font-size: 0.8125rem;
  background-color: transparent;
  color: #fff;
  border: none;
}
.code-screen pre p {
  line-height: normal;
}
.code-screen .import {
  color: #8bce65;
}
.code-screen .code {
  color: #ff3;
}
.code-screen .comment {
  color: #ccc;
}
.code-screen .method {
  color: #FF000D;
}
.blinking {
  font-weight: 900;
  animation: blinking 1s infinite;
  -webkit-animation: blinking 1s infinite;
  /* Safari and Chrome */
}

.browser-button {
  position: relative;
  top: 6px;
  margin: 0 2px;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  display: block;
  float: left;
  background-color: #ececec;
}
.browser-button.active {
  background-color: #ed4538;
}
.push-button {
  margin-right: 10px;
}
/*----------------------------------------
    HERO
----------------------------------------*/
#hero {
    background-color: #31B38F;
    padding-top: 90px;
    padding-bottom: 30px;
    color: #fff;
}
#hero .intro {
    padding: 0px 10px 0px 0px;
}
#hero .logo {
    margin-bottom: 100px;
}
#hero .lead {
    color: #e8f8f5;
    margin-top: 30px;
}

/*----------------------------------------
    FEATURES
----------------------------------------*/
#features {
    padding-top: 100px;
    padding-bottom: 150px;
}

#features .item {
    text-align: center;
    padding: 25px 0px;
}
#features .item-icon {
    border-radius: 50%;
    border: 2px solid #555;
    width: 50px;
    height: 50px;
    padding-top: 12px;
    margin: 0 auto;
}

/*----------------------------------------
    IMAGE
----------------------------------------*/
#image {
    background-color: #8cddcd;
    color: #444;
    padding-top: 100px;
    padding-bottom: 0px;
}

/*----------------------------------------
    ABOUT
----------------------------------------*/
#about {
    padding-top: 100px;
    padding-bottom: 150px;
}
#about .user {
    padding: 25px 0px;
}

/*----------------------------------------
    VIDEO
----------------------------------------*/
#video {
    background-color: #8cddcd;
    color: #444;
    padding-top: 150px;
    padding-bottom: 0px;
}
#video .ipad-1 {
    background-image: url('../img/ipad-1.png');
    background-repeat: no-repeat;
    background-position: top center!important;
    height: 450px;
    text-align: center;
    padding-top: 255px;
}
#video .ipad-1 a {
    color: #fff;
}
#video .ipad-1 a:hover,
#video .ipad-1 a:focus {
    color: #999;
}

/*----------------------------------------
    TESTIMONIAL
----------------------------------------*/
#testimonials {
    padding-top: 100px;
    padding-bottom: 150px;
}
#testimonials .text p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.456em;
    margin-top: 15px;
}

/*----------------------------------------
    PURCHASE
----------------------------------------*/
#purchase {
    background-color: #2c3e50;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}
#purchase h1 {
    margin-bottom: 30px;
}

/*----------------------------------------
    GALLERY
----------------------------------------*/
#gallery {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 150px;
}
#owl-demo .item {
    margin: 10px;
}
#owl-demo .item img {
    display: block;
    width: 280px;
    height: 497px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.customNavigation   {
    text-align: center;
}
.customNavigation a {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #eee;
    font-size: 36px;
    padding: 0px 20px;
    cursor: pointer;
}

/*----------------------------------------
    SOCIAL
----------------------------------------*/
#social {
    background-color: #e8f8f5;
    padding-top: 100px;
    padding-bottom: 100px;
}
.social-icons {
    margin: 0;
}
.social li > a,
.social img {
    margin: 0;
    padding: 0;
}
.social-icon {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #16a085;
    color: #fff;
    font-size: 32px;
    height: 80px;
    width: 80px;
    padding: 16px;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.social-icon:hover,
.social-icon:focus {
    background-color: #139077;
}

/*----------------------------------------
    SUBSCRIBE
----------------------------------------*/
#subscribe {
    background-color: #1abc9c;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 150px;
}
#subscribe .footer-note {
    margin-top: 100px;
}

/*----------------------------------------
    FOOTER
----------------------------------------*/
footer {
    font-weight: 300;
    background-color: #f9f9f9;
    color: #2f455a;
    margin: 0;
    padding-top: 20px;
}
footer .footer-links > li > a {
    color: #fff;
}
/*----------------------------------------
    Profile
----------------------------------------*/
.profile {
    margin-top: 70px;
}

/*----------------------------------------
    BUTTONS
----------------------------------------*/
.btn {
    -moz-user-select: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-1 {
    background-color: #433f58;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    -moz-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: all 0.2s;
}
.btn-1:hover,
.btn-1:focus {
    background-color: #4e4a67;
    border: none;
    color: #fff;
    outline: none;
}
.btn-2 {
    background-color: rgb(0,0,0,0);
    border: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    -moz-transition: color 0.2s;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.btn-2:hover,
.btn-2:focus {
    background-color: rgb(0,0,0,0);
    border: 2px solid #fff;
    color: #1abc9c;
}
.btn-3 {
    background-color: #e74c3c;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    -moz-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.btn-3:hover,
.btn-3:focus {
    background-color: #cf4436;
    border: none;
    color: #fff;
}
.btn-4 {
    background-color: #34495e;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    -moz-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.btn-4:hover,
.btn-4:focus {
    background-color: #2c3e50;
    border: none;
    color: #fff;
}
.btn-link {
    background: rgb(0,0,0,0);
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    outline: none;
}
.btn-link:hover,
.btn-link:focus {
    background: rgb(0,0,0,0);
    border: none;
    color: #555;
    text-decoration: none;
}
.btn-lg {
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33;
    padding: 15px 20px;
}
.btn-wide {
    padding: 15px 100px;
}
.buttons {
    padding-top: 30px;
}
.icon {
    padding-right: 15px;
}

/*----------------------------------------
    FORMS
----------------------------------------*/
.form-control {
    background-color: #e8f8f5;
    border: 2px solid #1abc9c;
    border-radius: 4px;
    box-shadow: none;
    color: #444;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}
.form-control:focus {
    background-color: #fff;
    border-color: #16a085;
    box-shadow: none;
    outline: 0 none;
}
.input-lg {
    border-radius: 6px;
    font-size: 18px;
    height: 60px;
    line-height: 1.33;
    padding: 10px 16px;
}

/*----------------------------------------
    MISC
----------------------------------------*/
.fill {
    background-color: #1abc9c;
    height: 100%;
    width: 100%;
}
.lead {
    margin-bottom: 50px;
}
.overview {
    text-align: center;
    margin-bottom: 80px;
}
.user-avatar img {
    margin: 0 auto;
}
hr.separator {
    margin-top: 100px;
    background: rgb(0, 0, 0, 0);
    border-top: 1px solid #47c9af;
}
hr.separator-alt {
    background: rgb(0, 0, 0, 0);
    border-top: 2px solid #1abc9c;
    border-top-radius: 2px;
    max-width: 300px;
    margin: 50px 0;
}
.green-tooltip + .tooltip > .tooltip-inner {
    background-color: #139077;
    padding: 10px 15px;
}
.green-tooltip + .tooltip.top .tooltip-arrow {
    border-top-color: #139077;
}

/*----------------------------------------
    SIDE MENU
----------------------------------------*/
#sidebar-wrapper {
    margin-right: -250px;
    right: 0;
    width: 250px;
    background: #16a085;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.sidebar-nav {
    position: absolute;
    top: 30px;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}
.sidebar-nav li a {
    color: #fff;
    display: block;
    text-decoration: none;
}
.sidebar-nav li a:hover {
    color: #444;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
}
.sidebar-nav > .sidebar-brand a {
    color: #fff;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #444;
    background: none;
}
#menu-toggle {
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
}
#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.toggle {
    color: #0d5e4e;
    margin: 5px 5px 0px 0px;
}

/*----------------------------------------
    MEDIA QUERIES
----------------------------------------*/
@media (width: 1024px) {
    #features .iphone-1 {
        margin-top: 45px;
    }
}
@media (min-width: 768px) and (max-width: 980px) {
    #hero img {
        margin-top: 200px;
    }
    #features .iphone-1 {
        margin-top: 175px;
    }
    .btn-wide {
        padding: 15px 50px;
    }
    #image h1 {
        font-size: 30px;
    }
    #image .lead {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .profile {
      margin: 30px;
    }
}
@media (min-width: 361px) and (max-width: 767px) {
      #hero {
        padding-top: 20px;
        padding-bottom: 20px;
        }

      #hero h1, h1, .h1 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 45px;
      }

      #hero .lead {
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 20px;
      }

      .profile {
        margin: 30px;
      }
    }
@media (min-width: 320px) and (max-width: 360px) {
    #hero {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #hero .logo {
        margin-bottom: 50px;
    }
    #hero h1, h1, .h1 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 45px;
    }
    #hero img {
        margin-top: 0px;
    }
    #features, #image, #about, #video, #testimonials, #purchase, #gallery, #social, #subscribe {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #image .text, #testimonials .text {
        text-align: center;
    }
    #owl-demo .item img {
        height: 100%;
    }

    #hero .lead {
        font-size: 11px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    #twitter-widget-0 {
        width: 110px !important;
    }
    .social-icon {
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        background-color: #16a085;
        color: #fff;
        font-size: 14px;
        height: 30px;
        width: 30px;
        padding: 5px;
    }
    ol li {
        font-size: 13px;
    }
    .code-screen pre {
        font-size: 0.7125rem;
    }

    .green-tooltip + .tooltip > .tooltip-inner {
        padding: 5px;
    }
    .buttons {
        padding-top: 0px;
    }
    .icon {
        padding-right: 8px;
    }
    .btn-lg {
        padding: 8px 13px;
    }
    .btn-wide {
        padding: 15px 50px;
    }
    .profile {
      margin: 30px;
    }
}
@media (width: 1024px) {
    #hero img {
        margin-top: 100px;
    }
    #owl-demo .item img {
        height: 100%;
    }
}
@media (width: 980px) {
    #features .item h2 {
        font-size: 26px;
    }
    #owl-demo .item img {
        height: 100%;
    }
}
@media (min-width: 768px) and (max-width: 900px) {
    #features .item h2 {
        font-size: 24px;
    }
    #owl-demo .item img {
        height: 100%;
    }
}
@media (min-width: 600px) and (max-width: 640px) {
    #hero {
        padding-top: 20px;
    }
    #hero h1 {
        font-size: 42px;
    }
    #hero .lead {
        font-size: 28px;
    }
    #hero .buttons {
        margin-bottom: 50px;
    }
    #features img {
        margin: 20px auto;
    }
    #image {
        padding-bottom: 50px;
    }
    #image .text {
        text-align: center;
    }
    #testimonials .text {
        text-align: center;
    }
    #owl-demo .item img {
        height: 100%;
    }
}
@media (width: 480px) {
    #image .text {
        text-align: center;
        padding-bottom: 25px;
    }
}
@media (width: 360px) {
    #gallery #owl-demo .item {
        padding-left: 15px;
}
